<!DOCTYPE html>
<html>
  <head>
    <title>SuperHeroes</title>
  </head>

  <body>
    <h1>Create a Team and Heroes!</h1>
    <form action="/checkout" method="post">
  <p>item: <input type="text" name="item" id="item"> </p>
  <p><input type="submit" id="submit">
</form>


  </body>
</html>
